<p style="color: green"><%= notice %></p>

<h1>Semesters</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @semesters.each do |semester| %>
    <%= render semester %>
  <% end %>
  </tbody>
</table>

<%= link_to "New semester", new_semester_path %>
