<div id="<%= dom_id branch %>">
  <p>
    <strong>Name:</strong>
    <%= branch.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= branch.code %>
  </p>

  <p>
    <strong>Teachers:</strong>
    <% if branch.teachers.any? %>
      <%= branch.teachers.map(&:name).join(", ") %>
    <% else %>
      No teachers assigned
    <% end %>
  </p>
</div>

