<div id="<%= dom_id branch %>">
  <p>
    <strong>Name:</strong>
    <%= branch.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= branch.status %>
  </p>

  <p>
    <strong>Moyenne:</strong>
    <%= branch.moyenne %>
  </p>

</div>
