<p style="color: green"><%= notice %></p>

<h1>Branches</h1>

<div id="branches">
 <% @branches.each do |branch| %>
  <tr>
    <td>
      <%= link_to branch.name, branch %>
      <% branch.teachers.each do |teacher| %>
        <%= teacher.name %><br>
      <% end %>
    </td>
  </tr>
<% end %>

</div>

<%= link_to "New branch", new_branch_path %>
