<div id="<%= dom_id note_evaluate_branch %>">
  <p>
    <strong>Dateeval:</strong>
    <%= note_evaluate_branch.dateEval %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= note_evaluate_branch.note_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= note_evaluate_branch.branch_id %>
  </p>

</div>
