<h1>New note evaluate branch</h1>

<%= render "form", note_evaluate_branch: @note_evaluate_branch %>

<br>

<div>
  <%= link_to "Back to note evaluate branches", note_evaluate_branches_path %>
</div>
