<div id="<%= dom_id teacher_subject %>">
  <p>
    <strong>Teacher:</strong>
    <%= teacher_subject.teacher_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= teacher_subject.subject_id %>
  </p>

</div>
