<h1>Editing teacher subject</h1>

<%= render "form", teacher_subject: @teacher_subject %>

<br>

<div>
  <%= link_to "Show this teacher subject", @teacher_subject %> |
  <%= link_to "Back to teacher subjects", teacher_subjects_path %>
</div>
