<div id="<%= dom_id school_class_study_branch %>">
  <p>
    <strong>Schoolclass:</strong>
    <%= school_class_study_branch.schoolClass_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= school_class_study_branch.branch_id %>
  </p>

</div>
