<h1>New school class study branch</h1>

<%= render "form", school_class_study_branch: @school_class_study_branch %>

<br>

<div>
  <%= link_to "Back to school class study branches", school_class_study_branches_path %>
</div>
