<div id="<%= dom_id class_subject_semester %>">
  <p>
    <strong>School class:</strong>
    <%= class_subject_semester.school_class_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= class_subject_semester.subject_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= class_subject_semester.semester_id %>
  </p>

</div>
