<h1>Editing class subject semester</h1>

<%= render "form", class_subject_semester: @class_subject_semester %>

<br>

<div>
  <%= link_to "Show this class subject semester", @class_subject_semester %> |
  <%= link_to "Back to class subject semesters", class_subject_semesters_path %>
</div>
