<p style="color: green"><%= notice %></p>

<h1>Class subject semesters</h1>

<table>
  <thead>
  <tr>
    <th>School Class</th>
    <th>Subject</th>
    <th>Semester</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @class_subject_semesters.each do |class_subject_semester| %>
    <%= render partial: "class_subject_semester", locals: { class_subject_semester: class_subject_semester } %>
  <% end %>
  </tbody>
</table>

<%= link_to "New class subject semester", new_class_subject_semester_path %>
