<h1>Editing branch history</h1>

<%= render "form", branch_history: @branch_history %>

<br>

<div>
  <%= link_to "Show this branch history", @branch_history %> |
  <%= link_to "Back to branch histories", branch_histories_path %>
</div>
