<div id="<%= dom_id student_study_branch %>">
  <p>
    <strong>Student:</strong>
    <%= student_study_branch.student_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= student_study_branch.branch_id %>
  </p>

</div>
