<h1>Editing student study branch</h1>

<%= render "form", student_study_branch: @student_study_branch %>

<br>

<div>
  <%= link_to "Show this student study branch", @student_study_branch %> |
  <%= link_to "Back to student study branches", student_study_branches_path %>
</div>
