<p style="color: green"><%= notice %></p>

<h1>Student study branches</h1>

<div id="student_study_branches">
  <% @student_study_branches.each do |student_study_branch| %>
    <%= render student_study_branch %>
    <p>
      <%= link_to "Show this student study branch", student_study_branch %>
    </p>
  <% end %>
</div>

<%= link_to "New student study branch", new_student_study_branch_path %>
