<h1>New student study branch</h1>

<%= render "form", student_study_branch: @student_study_branch %>

<br>

<div>
  <%= link_to "Back to student study branches", student_study_branches_path %>
</div>
