<div id="<%= dom_id people_teach_branch %>">
  <p>
    <strong>People:</strong>
    <%= people_teach_branch.people_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= people_teach_branch.branch_id %>
  </p>

</div>
