<div id="<%= dom_id teacher_conduct_school_class %>">
  <p>
    <strong>Teacher:</strong>
    <%= teacher_conduct_school_class.teacher_id %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= teacher_conduct_school_class.school_class_id %>
  </p>

</div>
