<div id="<%= dom_id teacher_conduct_school_class %>">
  <p>
    <strong>People:</strong>
    <%= teacher_conduct_school_class.people_id %>
  </p>

  <p>
    <strong>Schoolclass:</strong>
    <%= teacher_conduct_school_class.schoolClass_id %>
  </p>

</div>
