<h1>New teacher conduct school class</h1>

<%= render "form", teacher_conduct_school_class: @teacher_conduct_school_class %>

<br>

<div>
  <%= link_to "Back to teacher conduct school classes", teacher_conduct_school_classes_path %>
</div>
