<h1>Bulletin de Notes pour <%= @student.full_name %></h1>

<table>
  <thead>
  <tr>
    <th>Matière</th>
    <th>Note</th>
    <th>Semestre</th>
  </tr>
  </thead>
  <tbody>
  <% @student.grades.each do |grade| %>
    <tr>
      <td><%= grade.subject.name %></td>
      <td><%= grade.value %></td>
      <td><%= grade.semester.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
