<h1>Editing student contain school class</h1>

<%= render "form", student_contain_school_class: @student_contain_school_class %>

<br>

<div>
  <%= link_to "Show this student contain school class", @student_contain_school_class %> |
  <%= link_to "Back to student contain school classes", student_contain_school_classes_path %>
</div>
