<h1>New student contain school class</h1>

<%= render "form", student_contain_school_class: @student_contain_school_class %>

<br>

<div>
  <%= link_to "Back to student contain school classes", student_contain_school_classes_path %>
</div>
