<div id="<%= dom_id class_student %>">
  <p>
    <strong>Student:</strong>
    <%= class_student.student_id %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= class_student.school_class_id %>
  </p>

</div>
