<div id="<%= dom_id teacher_teach_branch %>">
  <p>
    <strong>Branch:</strong>
    <%= teacher_teach_branch.branch_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= teacher_teach_branch.teacher_id %>
  </p>

</div>
