<p style="color: green"><%= notice %></p>

<h1>Teacher teach branches</h1>

<div id="teacher_teach_branches">
  <% @teacher_teach_branches.each do |teacher_teach_branch| %>
    <%= render teacher_teach_branch %>
    <p>
      <%= link_to "Show this teacher teach branch", teacher_teach_branch %>
    </p>
  <% end %>
</div>

<%= link_to "New teacher teach branch", new_teacher_teach_branch_path %>
