<h1>New teacher teach branch</h1>

<%= render "form", teacher_teach_branch: @teacher_teach_branch %>

<br>

<div>
  <%= link_to "Back to teacher teach branches", teacher_teach_branches_path %>
</div>
